body {
    background: white;
}

@media screen and ( min-width: 650px) {
    body {
        background: red;
    }
}

@media screen and ( min-width: 750px) {
    body {
        background: orange;
    }
}

@media screen and ( min-width: 950px) {
    body {
        background: yellow;
    }
}

@media screen and ( min-width: 1050px) {
    body {
        background: green;
    }
}