html {
    margin: 0px;
}

body {
    background: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    text-align: center;
    border: 1px black solid;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer {
    text-align: center;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer+p {
    text-align: center;
}

#maincontent {
    background: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.container {
    /* The container class should use grid */
    display: grid;
    /* Take up 70% of the screen but have a maximum width of 375px. */
    width: 70%;
    max-width: 375px;
    /* Be centered on the screen. */
    margin: auto;
    /* Have a single column that takes up the entire width of the grid.  (Use fr or %) */
    grid-template-columns: 1fr;
    /* other */
    background: white;
    border: 4px black solid;
}

.container figure{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex: 1;
    /* other */
    margin: 0px;
    margin-top: 2%;
    border-bottom: 3px lightgray solid;
    padding-bottom: 0px;
}

.container figure img{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    width: 96%;
    height: auto;
    box-sizing: border-box;
    /* other */
    align-self: center;
    border: 2%;
    border-bottom: 6px blue solid;
}

.container figure figcaption{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    font-size: 3.5vmin;
    /* Centered */
    text-align: center;
    /* The first letter of each word in the caption should be uppercase. */
    text-transform: capitalize;
    /* other */
    margin: 4px;
    
}



@media screen and ( min-width: 650px) {
    body {
        background: red;
    }
}



@media screen and ( min-width: 750px) {
    body {
        background: orange;
    }
}



@media screen and ( min-width: 950px) {
    body {
        background: yellow;
    }
}



@media screen and ( min-width: 1050px) {
    body {
        background: green;
    }
}