/* other */
html {
    margin: 0px;
}

body {
    background: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    text-align: center;
    border: 1px black solid;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer {
    text-align: center;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer+p {
    text-align: center;
}

.jump {
    display: none;
}

#maincontent {
    background: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.container {
    /* The container class should use grid */
    display: grid;
    /* Take up 70% of the screen but have a maximum width of 375px. */
    width: 70%;
    max-width: 375px;
    /* Be centered on the screen. */
    margin: auto;
    /* Have a single column that takes up the entire width of the grid.  (Use fr or %) */
    grid-template-rows: 1fr;
    /* other */
    background: white;
    border: 4px black solid;
}

.container figure{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex: 1;
    /* other */
    margin: 0px;
    margin-top: 2%;
    border-bottom: 3px lightgray solid;
    padding-bottom: 0px;
}

.container figure img{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    width: 96%;
    height: auto;
    /* other */
    align-self: center;
    border: 2%;
    border-bottom: 6px blue solid;
}

.container figure figcaption{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    font-size: 3.5vmin;
    /* Centered */
    text-align: center;
    /* The first letter of each word in the caption should be uppercase. */
    text-transform: capitalize;
    /* other */
    margin: 4px;
}



@media screen and ( min-width: 650px) {
    .jump {
        /* “Skip to main content” should appear on the screen the first time we hit the tab key. */
        display: inline;
    }

    .container {
        /* Take up 95% and no longer use a maximum width. */
        width: 95%;
        max-width: none;
        /* Use the image concrete_seamless (from the images folder) as a background image. */
        background: url(../images/concrete_seamless.png);
        /* Have three equal columns that each cover 25% of the grid width. */
        grid-template-columns: 25% 25% 25%;
        column-gap: 6%;
        /* The children should be spaced out to match our example – equal spacing around each side of the children */
        justify-content: center;
    }

    .container figure {
        /* Cover two columns */
        grid-column: span 2;
        /* other */
        border-bottom: none;
        border: 3px gray solid;
        padding: 4px;
        margin-top: 0px;
    }

    /* The children in rows 1, 3, 5, etc should start in the 1st column */
    .container > :nth-child(2n+1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    /* The children in all other rows start in the 2nd column. */
    .container > :nth-child(2n) {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    /* other */
    .container figure img {
        width: 100%;
    }
    .container figure figcaption{
        font-size: 3vmin;
}



@media screen and ( min-width: 750px) {
    body {
        background: orange;
    }

    .container {
        /* Have four equal columns that are each 20% of the width of the grid. */
        grid-template-columns: 20% 20% 20% 20%;
    }

    /* Lay out the children elements as far to the left and right of the grid as possible. */
    .container > :nth-child(n) {
        grid-column-start: span 2;
        grid-column-end: auto;
    }
}



@media screen and ( min-width: 950px) {
    body {
        background: yellow;
    }
}



@media screen and ( min-width: 1050px) {
    body {
        background: green;
    }
}