/* other */
html {
    margin: 0px;
}

body {
    background: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    text-align: center;
    border: 1px black solid;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer {
    text-align: center;
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
}

footer+p {
    text-align: center;
}

.jump {
    display: none;
}

#maincontent {
    background: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.container {
    /* The container class should use grid */
    display: grid;
    /* Take up 70% of the screen but have a maximum width of 375px. */
    width: 70%;
    max-width: 375px;
    /* Be centered on the screen. */
    margin: auto;
    /* Have a single column that takes up the entire width of the grid.  (Use fr or %) */
    grid-template-rows: 1fr;
    /* other */
    background: white;
    border: 4px black solid;
}

.container figure{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex: 1;
    /* other */
    margin: 0px;
    margin-top: 2%;
    border-bottom: 3px lightgray solid;
    padding-bottom: 0px;
    background-color: white;
}

.container figure img{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    width: 96%;
    height: auto;
    /* other */
    align-self: center;
    border: 2%;
    border-bottom: 6px blue solid;
}

.container figure figcaption{
    /* Shrink/grow with the browser and fit within the grid columns without using overflow hidden*/
    font-size: 3.5vmin;
    /* Centered */
    text-align: center;
    /* The first letter of each word in the caption should be uppercase. */
    text-transform: capitalize;
    /* other */
    margin: 4px;
}



@media screen and ( min-width: 650px) {
    .jump {
        /* “Skip to main content” should appear on the screen the first time we hit the tab key. */
        display: inline;
    }

    .container {
        /* Take up 95% and no longer use a maximum width. */
        width: 95%;
        max-width: none;
        /* Use the image concrete_seamless (from the images folder) as a background image. */
        background: url(../images/concrete_seamless.png);
        /* Have three equal columns that each cover 25% of the grid width. */
        grid-template-columns: 25% 25% 25%;
        column-gap: 6%;
        /* The children should be spaced out to match our example – equal spacing around each side of the children */
        justify-content: center;
    }

    .container figure {
        /* other */
        border-bottom: none;
        border: 3px gray solid;
        padding: 4px;
        margin-top: 0px;
    }

    /* Cover two columns */
    /* The children in rows 1, 3, 5, etc should start in the 1st column */
    .container > :nth-child(2n+1) {
        grid-column: 1 / span 2;
    }
    
    /* The children in all other rows start in the 2nd column. */
    .container > :nth-child(2n) {
        grid-column: 2 / span 2;
    }

    /* other */
    .container figure img {
        width: 100%;
    }
    .container figure figcaption{
        font-size: 3vmin;
    }
}



@media screen and ( min-width: 750px) {
    .container {
        /* Have four equal columns that are each 20% of the width of the grid. */
        grid-template-columns: 20% 20% 20% 20%;
        /* Do NOT add any gap properties or properties that do not modify this view */
        justify-content: space-between;
        column-gap: 0 px;
    }

    /* Lay out the children elements as far to the left and right of the grid as possible. */
    .container > :nth-child(n) {
        grid-column-start: span 2;
    }

    /* The last child always starts in the 2nd column. */
    .container > :last-child {
        grid-column: 2 / span 2;
    }
}



@media screen and ( min-width: 900px) {
    /* The container class should now use flex and lay out the children images as shown. */
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        /* other */
        padding: 1%;
    }

    /* The figure elements should have a width of 20% except for every 4th element that should have a width of 40%  and a 10px border. */
    .container figure {
        flex: 0;
        flex-basis: auto;
        width: 20%;
        height: auto;
    }
    .container > :nth-child(4n) {
        flex: 0;
        flex-basis: auto;
        width: 40%;
        height: auto;
        border: 10px black solid
    }

    /* The 2nd figure (the one with the caption “mountain skyline” should be the last image displayed. */
    .container > :nth-child(2) {
        order: 1;
    }

    /* other */
    .container figure figcaption{
        font-size: 2.5vmin;
    }
}



@media screen and ( min-width: 1050px) {
    .container > :nth-child(n) {
        /* ALL figure elements should have a width of 75% and a margin of 20px on the bottom. */
        width: 75%;
        height: auto;
        margin-bottom: 20px;
        /* Match the layout so that each child element covers one column */
        grid-column: auto;
    }

    /* The 2nd figure should appear back in the proper order. */
    .container > :nth-child(2) {
        order: initial;
    }

    .container {
        /* The container class should use the grid property again */
        display: grid;
        /* Have two equal columns that together cover the entire width of the grid */
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        /* Center the children horizontally */
        justify-items: center;
        /* Ensure that the figures don’t exceed the grid container. */
        overflow: hidden;
    }

    /* Rotate every other child element (except the last one) by 15 degrees or -15 degrees to match the screenshot. */
    .container > :nth-child(2n+1) {
        transform: rotate(-15deg);
        z-index: 1;
        margin-right: 6%;
    }
    .container > :nth-child(2n) {
        transform: rotate(15deg);
        z-index: 1;
        margin-left: 6%;
    }

    /* The last child covers two columns */
    .container > :last-child {
        grid-column: span 2;
        transform: rotate(0deg);
        z-index: 0;
        margin: 0;
        margin-bottom: 20px;
    }
}

/* Use keyframes to alter the opacity of the first image from complete transparency to full opacity over the course of 10 seconds.   */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.logo {
    animation: fadein 10s;
}

/* Write a media query to remove this animation when the user has reduced motion as a preference. */
@media (prefers-reduced-motion: reduce) {
    .logo {
        animation: none;
    }
}